version: '3.8'
services:
  db:
    image: postgres:16
    container_name: medibook-db
    environment:
      POSTGRES_DB: medibook_db
      POSTGRES_USER: medibook_user
      POSTGRES_PASSWORD: medibook_password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
